<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="Navigation">
            <section name="StateInfo" type="Navigation.StateInfoSectionHandler, Navigation"/>
        </sectionGroup>
    </configSections>
    <Navigation>
        <StateInfo configSource="StateInfo.config">
        </StateInfo>
    </Navigation>
</configuration>