:root {
    --foreground-color: #761137;
    --heading-color: #6d6d6d;
}    
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0 auto;
  width: 95%;
  padding: 15px 0;
}
p, li {
  line-height: 1.4em;
}
li {
  padding-bottom: 0.2em;
}
code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  font-size: 0.8em;
  color: var(--secondary-color);
}
#banner {
  height: 35px;
  background-color: #fff;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#banner a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0 2%;
  font-weight: bold;
}
#banner img {
  height: 25px;
}
#tabs {
  display: flex;
  flex-direction: row;
  width: 99%;
  margin: 0 auto;
}
div.tab {
  width: 43%;
  text-align: center;
}
div.end {
  width: 7%;
  border-bottom: 4px solid var(--secondary-color);
}
div.tab {
  color: #000;
  border: 2px solid #000;
  border-bottom: 4px solid var(--secondary-color);
  margin-top: 10px;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.tab.web {
  border-left: 2px solid #000;
  border-right: 0;
}
div.tab.native {
  border-right: 2px solid #000;
  border-left: 0;
}
div.tab.active {
  background-color: var(--primary-color);
  color: var(--foreground-color);
  margin-top: 0;
  border: 4px solid var(--secondary-color);
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
}
div.tab img {
  height: 22px;
  padding: 0 1% 0 0;
}
div.tab a {
  color: #000;
  white-space: nowrap;
}
div.tab h2 {
  white-space: nowrap;
}
div.tab.active img {
  height: 32px;
  padding: 0 2% 0 0;
}
div.tab.mobile img:nth-of-type(1) {
  padding: 0;
}
div.tab.mobile img:nth-of-type(2) {
  padding-left: 4%;
}
#heading {
  display: flex;
  justify-content: center;
}
#heading div {
  text-align: center;
}
#heading img {
  height: 40px;
  margin-top: 25px;
}
h1 {
  text-align: center;
  margin: 0;
  padding-top: 35px;
  display: inline;
}
#subheading {
  text-align: center;
  margin: 5px 0 15px 0;
  font-size: 1.1em;
}
div.intro {
  display: flex;
  flex-direction: row;
}
div.intro div {
  flex: 1;
  width: 50%;
  padding: 0 2%;
}
div.intro h2 {
  text-align: center;
  font-weight: normal;
  color: var(--heading-color);;
  font-size: 1.3em;
  margin: 0;
}
h3 {
  text-align: center;
  font-size: 1.4em;
  margin: 5px 0;
  font-weight: normal;
  color: var(--heading-color);;
}
#tabContent {
  width: 99%;
  position: relative;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: 4px solid var(--secondary-color);
  border-top: 0;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;

}
p.note {
  position: absolute;
  left: 3%;
  bottom: 0;
  width: 47%;
  color: var(--foreground-color);
  margin-bottom: 20px;
  font-weight: bold;
}
p.note a {
  color: var(--foreground-color);
}
ol {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
  margin: 0;
}
#tabContent li {
  border: 3px solid var(--secondary-color);
  background-color: #fff;
  height: 355px;
  width: 46%;
  overflow: auto;
  margin: 0px 2%;
  list-style: none;
  margin-bottom: 20px;
  padding: 5px 2%;
  box-sizing: border-box;
}
#tabContent li:nth-child(2) {
  margin-top: 120px;
}
#tabContent li:nth-child(3) {
  margin-top: -120px;
}
img.arrow {
  position: absolute;
  height: 140px;
  transform: rotate(159deg);
  left: 48.16%;
}
#tabContent li:nth-child(1) img {
  top: 180px;
}
#tabContent li:nth-child(2) img {
  transform: rotate(200deg);
  top: 360px;
}
#tabContent li:nth-child(3) img {
  top: 540px;
}
#tabContent li p {
  margin-top: 4px;
}
@media (max-width:600px) {
  div.intro {
    display: block;
  }
  div.intro div {
    width: 100%;
  }
  div.tab h2 {
    font-size: 1.3em;
  }
  div.tab a {
    font-size: 0.8em;
  }
  div.tab img {
    height: 16px;
    padding: 0 4%;
  }
  div.tab.active img {
    height: 25px;
  }
  #tabContent li {
    width: 100%;
    height: unset;
  }
  #tabContent li:nth-child(2) {
    margin-top: 0;
  }
  #tabContent li:nth-child(3) {
    margin-top: 0;
  }
  .arrow {
    display: none;
  }
  p.note {
    position: unset;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }
  code {
    word-break: break-word;
  }
}



#content {
  padding-top: 35px;
}
#article h1 {
  margin: 0;
  text-align: center;
  padding-top: 0;
  display: block;
}
#menu {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  bottom: 10;
  margin-top: 45px;
  width: 32%;
  border-radius: 15px;
  border: 4px solid var(--secondary-color);
  box-sizing: border-box;
}
#menu #items {
  background-color: white;
  height: calc(100% - 70px);
  margin: 10px 5%;
  border: 2px solid var(--secondary-color);
  padding: 15px 5%;
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  flex-direction: column;
}
#menu h2 {
  width: 100%;
  color: var(--foreground-color);
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu h2 img {
  height: 32px;
  padding-right: 2%;
}
#menu a {
  color: #000;
  padding: 4px 0;
}
#menu a.selected {
  background-color: var(--primary-color);
  color: var(--foreground-color);
  font-weight: bold;
  text-decoration: none;  
}
#menu h3 {
  font-weight: normal;
  text-align: center;
  padding: 10px 0;
  color: var(--heading-color);;
  font-size: 1.3em;
  margin: 0;
}
#article {
  margin-left: 34.7368%;
  padding-left: 2%;
  box-sizing: border-box;
}
#article ol {
    padding: 0;
    margin-left: 5%;
    line-height: 1.4em;
}
p {
  line-height: 1.4em;
}
#content p code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  font-size: 0.9em;
  color: var(--secondary-color);
}
#content pre {
    border: 2px solid var(--secondary-color);
    border-radius: 0;
    padding:1.5%;
}
#article pre[class*="language-"] {
  font-size: 1em;
}
#article pre + pre, #article pre + .Note, #article .Note + pre {
  margin-top: 15px;
}
#article h2 {
  font-weight: normal;
}
#article h3 {
  color: #000;
  text-align: unset;
  font-weight: normal;
  font-size: 1.3em;
  margin: 15px 0;
}
#article a {
  color: #000;
}
#article table {
  font-size: inherit;
  width: 100%;
  margin: 0 0 2% 0;
  border-collapse: collapse;
  word-break: break-word;    
}
#article th, #article td {
  border: 0.1em solid #000;
  padding: 1% 0;    
}
#article td {
  padding-left: 5%;
}
#article .Note {
  width: 90%;
  margin: 0 auto;
  border-left: 6px solid var(--secondary-color);
  padding: 10px 3%;
  line-height: 1.2em;
}
#article .Note  h2{
  margin: 2px 0;
  font-size: 1.3em;
  color: var(--heading-color);;
}
@media (min-width:1250px) {
  #menu {
    width: 400px;
  }
  #article {
    margin-left: 400px;
  }
}
