body{
    margin:0;
    background-color:#f8f8f8;
    font-family:'Lucida Grande',Calibri,Helvetica,Arial,sans-serif;
}
#header{
	border-bottom:4px solid #de1b1b;
	margin-bottom:7px;
}
#banner{
    background-color:#2b2b2b;
    color:#fff;
    font-size:25px;
    padding:10px 40px;
	margin-bottom:3px;
}
#content{
	margin:auto;
    max-width:1000px;
    min-width:600px;
}
h1,h2{
	margin:0;
}
h3{
	margin:12px 0;
}
p{
	margin:5px 0 14px 0;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
	border-radius:10px;
}
ul li{
	padding:5px 0 5px 10px;
}
ul li{
	background-color:#e9e581;
}
ul li:first-child{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
ul li:last-child{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
ul li.active{
	font-style:italic;
	font-weight:bold;
}
ul li a,ul li a:visited,#navigation a, #navigation a:visited{
	color:#000;
}
#example{
	width:26%;
	float:left;
	padding:0 1%;
}
#plugin{
	width:70%;
	margin-left:28%;
	padding:0 1%;
}
#navigation a{
	font-weight:bold;
}
#navigation{
	width:400px;
	margin:auto;
}
table{
	border-collapse:collapse;
	margin:20px auto 5px auto;
}
table,td,th{
	background-color:#fff;
	border:1px #2b2b2b solid;
}
th{
	width:200px;
    background-color:#de1b1b;
	color:#fff;
	font-size:17px;
	font-weight:normal;
}
th, td{
	padding:5px;
}
td{
	padding-left: 20px;
}
#pager{
	margin-left:40px;
}
#pager a{
	padding-left:5px;
}
#info{
	background-color:#fff;
	border:2px solid #de1b1b;
	border-radius:10px;
	padding:10px 30px;
	margin-top:5px;
	box-sizing:border-box;
}
.label{
	margin-left:50px;
	width: 100px;
	float:left;
}
.container h2{
	padding-bottom:5px;
}