obj/
bin/
/packages
*.csproj.user
*.suo
*.exe
*.map
NavigationJS/Navigation*.js
NavigationJS/Test/Navigation*.js
NavigationJS/Test/*StateInfo*.js
NavigationJS/src/*.js
NavigationJS/src/*/*.js
node_modules