Navigation*/src/**/*.js
Navigation*/test/**/*.js
!Navigation*/sample/**/*.js
**/*.d.ts
!navigation.d.ts
!angular.d.ts
!jquery.d.ts
!knockout.d.ts
!react.d.ts
!react-dom.d.ts
!cycle-dom.d.ts
!rx.d.ts
!assert.d.ts
!mocha.d.ts
build/dist
build/lib
npm-debug.log
node_modules