Navigation*/src/**/*.js
Navigation*/test/**/*.js
!Navigation*/sample/**/*.js
build/dist
build/npm/**/navigation*.js
npm-debug.log
node_modules
!Navigation*/src/node_modules
!Navigation*/test/node_modules
.DS_Store
!NavigationReactNative/src/*.js

