body{
    padding:0;
    margin:0;
    font-family:Verdana;
    font-size:.87em;
}
#banner div{
    background-color:#551a8b;
    height:22px;
    padding:10px 3%;
    margin-bottom:4px;
}
#banner a{
    color:#fff;
    text-decoration:none;
    display:inline-block;
    font-size:14px;
    height:32px;
    padding:0 1%;
}
#banner a.selected{
    border-bottom:4px solid #ffbf00;
}
#banner a:hover{
    color:#ffbf00;
}
#banner{
    border-bottom:5px solid #0000ee;
}
#banner #github{
    position:absolute;
    right:3%;
    background-image:url('github.png');
    background-repeat:no-repeat;
    background-size:24px;
    width:24px;
    color:transparent;
    font-size: 1px;
}
#banner #github:hover{
    background-image: url('github-on.png');
}
h2,h3{
    font-weight:normal;
    margin:0.8% 0 1.8% 0;
    clear:left;
}
#article h2{
    clear:none;
}
#logo div{
    padding:4px 8px;
    box-shadow:3px 3px 5px #888888;
    color:rgba(145,87,117,1);
    font-size:12px; 
    border:2px solid rgba(118,118,118,1);
    border-radius:5px;
    display:inline-block;
    position:relative;
    left:60px;
    top:-10px;
    background:linear-gradient(#fff, rgb(228, 229, 240));
}
#logo{
    width:275px;
    margin:0 auto;
}
#logo h1{
    font-size:50px;
    margin:0 0 10px 0;
    font-weight:normal;
    font-family:'Times New Roman';
    text-decoration:underline;
    color:#0000ee;
}        
#logo img{
    width:60px;
    position:absolute;
    top:85px;
    margin-left:10px;
    display:block;
}
#content{
    margin:0 auto;
    max-width:900px;
    padding:0 1%;
    margin-bottom:15px;
}
div.plug{
    box-sizing:border-box;
    padding:0.8% 2% 1% 0;
}
div.plug h2{
    text-transform:uppercase;
    font-size:1.4em;
}
p{
    margin:0 0 2% 0;
}
p code{
    background-color:#fff5d7;
    padding:.1% .5%;
}
#content pre {
   border:0.1em solid rgba(0,0,238,0.5);
   padding:1.5%;
}
code {
    font-family:Consolas;
    font-size:.9em;
}
#article pre{
    margin-bottom:2%;
}
div.app{
    overflow:hidden;
    border-radius:0.3em;
    margin-bottom:1%;
}
#route{
    width:17.5%;
}
.app input,.app select{
    margin:0 0.4% 0 1.4%;
}
#app {
    border:0.1em solid rgba(0,0,238,0.5);
    padding:25px 1.11%;
    border-radius:0.3em;
    text-align:center;
}
#app div div{
    font-size:1.2em;
}
#footer{
    clear:both;
    font-style:italic;
    padding-top:5px;
    text-align:center;
}
#menu{
    width:23%;
    float:left;
    padding-top:55px;
    font-size:0.9em;
    margin-right:2%;
}
#article{
    margin-left:25%;
    margin-right:1%;
}
#article h1{
    margin:0;
    padding:15px 0;
    font-weight:bold;
    font-size:1.3em;
}
#article table{
    font-size:inherit;
    width:100%;
    margin:0 0 2% 0;
    border-collapse: collapse;
    word-break:break-word;
}
#article th, #article td{
    border:0.1em solid #000;
    padding:1% 0;
}
#article th{
    background-color:#fff5d7;
    font-weight:normal;
}
#menu a{
    display:block;
    padding:6px 0 6px 2%;
    border-radius:0.3em;
}
#menu a.selected{
    background-color: #ffedb9;
}
.separator{
    margin:15px 2em 15px 1em;
    border-top:1px solid #551a8b;
}
.note{
    background-color:#ecdef9;
    padding:8px 1.3%;
    border-radius:0 0.3em 0.3em 0;
    margin-bottom:2%;
    border-left: 5px solid #551a8b;
}
.note h2{
    margin:0 0 3px 0;
    font-size:1em;
    font-weight:bold;
}
.note code{
    font-size:inherit;
    word-break:break-word;
    background-color:inherit;
}
@media (min-width:600px) {
    #banner a{
        font-size:16px;
    }
    div.plug{
        float:left;
        width:33.33%;    
    }
    div.app{
        float:left;
        width:66.66%;
    }
    #app {
        margin-left:68.33%;
    }
    #menu{
        font-size:inherit;
    }
    #article h1{
        font-weight:normal;
        font-size:2.2em;
    }
    #article td{
        padding-left:5%;
    }
}

