<!DOCTYPE html>
<html ng-app="">
<head>
    <title>Person Search</title>
    <style>
        table{border-collapse:collapse;}table,td,th{border:1px #000 solid;}
        ul{list-style-type:none;padding:0;margin:0;}li{ float:left;padding-right:3px;}
    </style>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/person.js"></script>
</head>
<body>
    <div ng-controller="PersonController">
        <form>
            <label for="name">Name</label>
            <input id="name" ng-model="name" />
            <label for="minDateOfBirth">Min Date of Birth</label>
            <input id="minDateOfBirth" ng-model="minDateOfBirth" />
            <input type="submit" value="Search" ng-click="search()" />
        </form>
        Page size
        <a href="#" ng-click="changePageSize(5)">5</a>
        <a href="#" ng-click="changePageSize(10)">10</a>
        <table>
            <thead>
                <tr>
                    <th><a href="#" ng-click="sort()">Name</a></th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in people">
                    <td><a href="#" ng-click="select(person)">{{ person.Name }}</a></td>
                    <td>{{ person.DateOfBirth | date: 'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
        <span ng-show="!showFirstPrev()">First Prev</span>
        <a href="#" ng-click="firstPage()" ng-show="showFirstPrev()">First</a>
        <a href="#" ng-click="previousPage()" ng-show="showFirstPrev()">Prev</a>
        <a href="#" ng-click="nextPage()" ng-show="showNextLast()">Next</a>
        <a href="#" ng-click="lastPage()" ng-show="showNextLast()">Last</a>
        <span ng-show="!showNextLast()">Next Last</span>
    </div>
</body>
</html>
