<StateInfo>
    <!--<dialog key="Person" initial="Listing">
        <state key="Listing" page="~/Listing.aspx" route="List/{startRowIndex}/{maximumRows}/{sortExpression}" title="Person Search" defaultTypes="startRowIndex=int,maximumRows=int" defaults="startRowIndex=0,maximumRows=10,sortExpression=Name" derived="totalRowCount" trackCrumbTrail="false">
            <transition key="Select" to="Details"/>
        </state>
        <state key="Details" page="~/Details.aspx" route="Person" title="Person Details">
        </state>
    </dialog>
	<dialog key="MvcPerson" initial="Listing">
		<state key="Listing" controller="Person" action="List" route="MvcList/{startRowIndex}/{maximumRows}/{sortExpression}" title="Person Search" defaultTypes="startRowIndex=int,maximumRows=int" defaults="startRowIndex=0,maximumRows=10,sortExpression=Name" derived="totalRowCount" trackCrumbTrail="false">
			<transition key="Select" to="Details"/>
		</state>
		<state key="Details" controller="Person" action="GetDetails" route="MvcPerson" title="Person Details">
		</state>
	</dialog>
	<dialog key="WebApiPerson" initial="Listing">
		<state key="Listing" apiController="PersonApi" action="GetList" route="WebApiList/{startRowIndex}/{maximumRows}/{sortExpression}" title="Person Search" defaultTypes="startRowIndex=int,maximumRows=int" defaults="startRowIndex=0,maximumRows=10,sortExpression=Name" derived="totalRowCount" trackCrumbTrail="false">
			<transition key="Select" to="Details"/>
		</state>
		<state key="Details" apiController="PersonApi" action="GetDetails" route="WebApiPerson" title="Person Details">
		</state>
	</dialog>-->
</StateInfo>