<StateInfo>
    <dialog key="Person" initial="Listing" path="~/Listing.aspx">
        <state key="Listing" page="~/Listing.aspx" route="List/{startRowIndex}/{maximumRows}/{sortExpression}" title="Person Search" defaultTypes="startRowIndex=int,maximumRows=int" defaults="startRowIndex=0,maximumRows=10,sortExpression=Name" derived="totalRowCount" trackCrumbTrail="false">
            <transition key="Select" to="Details"/>
        </state>
        <state key="Details" page="~/Details.aspx" title="Person Details" route="Person">
        </state>
    </dialog>
	<dialog key="MvcPerson" initial="Listing">
		<state key="Listing" controller="Person" action="Index" route="MvcList/{startRowIndex}/{maximumRows}/{sortExpression}" title="Person Search" defaultTypes="startRowIndex=int,maximumRows=int" defaults="startRowIndex=0,maximumRows=10,sortExpression=Name" derived="totalRowCount" trackCrumbTrail="false">
			<transition key="Select" to="Details"/>
		</state>
		<state key="Details" controller="Person" action="GetDetails" title="Person Details" route="MvcPerson">
		</state>
	</dialog>
	<dialog key="WebApiPerson" initial="Listing">
		<state key="Listing" apiController="Person" action="Index" route="WebApiPerson/{startRowIndex}/{maximumRows}/{sortExpression}" title="Person Search" defaultTypes="startRowIndex=int,maximumRows=int" defaults="startRowIndex=0,maximumRows=10,sortExpression=Name" derived="totalRowCount" trackCrumbTrail="false">
			<transition key="Select" to="Details"/>
		</state>
		<state key="Details" apiController="Person" action="GetDetails" title="Person Details" route="WebApiPerson">
		</state>
	</dialog>
</StateInfo>