<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Navigation Angular</title>
    <style>
        table{border-collapse:collapse;}table,td,th{border:1px #000 solid;}
        ul{list-style-type:none;padding:0;margin:0;}li{float:left;padding-right:3px;}
    </style>
</head>
<body>
    <div ng-controller="PersonController">
        <div ng-if="!id">
            <div>
                <label for="name">Name</label>
                <input id="name" ng-model="name" ng-blur="nameChange()" />
            </div>
            Page size
            <a refresh-link="{ maximumRows: 5, startRowIndex: null }" include-current-data="true">5</a>
            <a refresh-link="{ maximumRows: 10, startRowIndex: null }" include-current-data="true">10</a>
            <table>
                <thead>
                    <tr>
                        <th><a refresh-link="{ sortExpression: sortExpression }" include-current-data="true">Name</a></th>
                        <th>Date of Birth</th>
                    </tr>
                </thead>
                <tbody ng-repeat="person in people">
                    <tr>
                        <td><a navigation-link="'select'" to-data="{ id: person.id }">{{person.name}}</a></td>
                        <td>{{person.dateOfBirth}}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li ng-if="previousVisible"><a refresh-link="{ startRowIndex: 0 }" include-current-data="true">First</a></li>
                <li ng-if="previousVisible"><a refresh-link="{ startRowIndex: previous }" include-current-data="true">Previous</a></li>
                <li ng-if="!previousVisible">First</li>
                <li ng-if="!previousVisible">Previous</li>
                <li ng-if="nextVisible"><a refresh-link="{ startRowIndex: next }" include-current-data="true">Next</a></li>
                <li ng-if="nextVisible"><a refresh-link="{ startRowIndex: last }" include-current-data="true">Last</a></li>
                <li ng-if="!nextVisible">Next</li>
                <li ng-if="!nextVisible">Last</li>
            </ul>
        </div>
        <div ng-if="id">
            <a navigation-back-link="1">Person Search</a>
            <div>
                Name: {{personName}}<br />
                Date of Birth: {{dateOfBirth}}
            </div>
        </div>
    </div>
    <script src="../../Sample/personSearch.js"></script>
    <script src="angular.min.js"></script>
    <script src="../../build/navigation.angular.js"></script>
    <script src="app.js"></script>
</body>
</html>
