@model Person

<!DOCTYPE html>

<html>
<head>
    <title>Person Details</title>
</head>
<body>
    @Html.NavigationBackLink("Person Search", 1)
    <div>
        Name: @Model.Name<br/>
        Date of Birth: @Model.DateOfBirth.ToShortDateString()
    </div>
</body>
</html>
