@model IEnumerable<Navigation.Sample.Person>

<!DOCTYPE html>

<html>
<head>
    <title>Listing</title>
</head>
<body>
    <a href=@Navigation.StateController.GetNavigationLink("Select", new Navigation.NavigationData { { "id", "1" } })>Select</a>
</body>
</html>
