@model IEnumerable<Navigation.Sample.Person>

<!DOCTYPE html>

<html>
<head>
    <title>Listing</title>
</head>
<body>
    @Html.NavigationLink("Select", "Select", new NavigationData { { "id", 1 } })
</body>
</html>
