<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Navigation Angular</title>
    <style>
        table{border-collapse:collapse;}table,td,th{border:1px #000 solid;}
        ul{list-style-type:none;padding:0;margin:0;}li{float:left;padding-right:3px;}
        .active{font-weight:bold;}
    </style>
</head>
<body>
    <div ng-controller="PersonController">
        <div ng-if="!id">
            <div>
                <label for="name">Name</label>
                <input id="name" ng-model="$parent.name" ng-blur="nameChange()" />
            </div>
            Page size
            <a state-navigator="stateNavigator" refresh-link="{ maximumRows: 5, startRowIndex: null }" include-current-data="true" active-css-class="'active'">5</a>
            <a state-navigator="stateNavigator" refresh-link="{ maximumRows: 10, startRowIndex: null }" include-current-data="true" active-css-class="'active'">10</a>
            <table>
                <thead>
                    <tr>
                        <th><a state-navigator="stateNavigator" refresh-link="{ sortExpression: sortExpression }" include-current-data="true">Name</a></th>
                        <th>Date of Birth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people">
                        <td><a state-navigator="stateNavigator" navigation-link="'person'" navigation-data="{ id: person.id }">{{person.name}}</a></td>
                        <td>{{person.dateOfBirth}}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li><a state-navigator="stateNavigator" refresh-link="{ startRowIndex: 0 }" include-current-data="true" disable-active="true">First</a></li>
                <li><a state-navigator="stateNavigator" refresh-link="{ startRowIndex: previous }" include-current-data="true" disable-active="true">Previous</a></li>
                <li><a state-navigator="stateNavigator" refresh-link="{ startRowIndex: next }" include-current-data="true" disable-active="true">Next</a></li>
                <li><a state-navigator="stateNavigator" refresh-link="{ startRowIndex: last }" include-current-data="true" disable-active="true">Last</a></li>
            </ul>
            Total Count {{totalCount}}
        </div>
        <div ng-if="id">
            <a state-navigator="stateNavigator" navigation-back-link="1">Person Search</a>
            <div>
                Name: {{personName}}<br />
                Date of Birth: {{dateOfBirth}}
            </div>
        </div>
    </div>
    <script src="../../Navigation/sample/personSearch.js"></script>
    <script src="angular.js"></script>
    <script src="../../build/dist/navigation.js"></script>
    <script src="../../build/dist/navigation.angular.js"></script>
    <script src="app.js"></script>
</body>
</html>
