<StateInfo>
    <dialog key="D1" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S2"/>
        </state>
        <state key="S2" page="~/P2.aspx" masters="~/M2.master">
        </state>
        <state key="S3" page="~/P3.aspx" route="R3">
            <transition key="T1" to="S3"/>
        </state>
        <state key="S4" page="~/P4.aspx" theme="T4">
        </state>
        <state key="S5" page="~/P5.aspx">
            <transition key="T1" to="S4"/>
        </state>
    </dialog>
    <dialog key="D2" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S2"/>
            <transition key="T2" to="S2"/>
        </state>
        <state key="S2" page="~/P2.aspx">
        </state>
        <state key="S3" page="~/P3.aspx">
            <transition key="T1" to="S3"/>
            <transition key="T2" to="S3"/>
        </state>
        <state key="S4" page="~/P4.aspx">
        </state>
        <state key="S5" page="~/P5.aspx">
            <transition key="T1" to="S4"/>
            <transition key="T2" to="S4"/>
        </state>
        <state key="S6" page="~/P6.aspx">
            <transition key="T1" to="S7"/>
        </state>
        <state key="S7" page="~/P7.aspx">
            <transition key="T1" to="S6"/>
        </state>
        <state key="S8" page="~/P8.aspx">
            <transition key="T1" to="S8"/>
            <transition key="T2" to="S9"/>
        </state>
        <state key="S9" page="~/P9.aspx">
        </state>
        <state key="S10" page="~/P10.aspx">
            <transition key="T1" to="S11"/>
            <transition key="T2" to="S10"/>
        </state>
        <state key="S11" page="~/P11.aspx">
        </state>
        <state key="S12" page="~/P12.aspx">
            <transition key="T1" to="S12"/>
        </state>
        <state key="S13" page="~/P13.aspx">
            <transition key="T1" to="S12"/>
        </state>
        <state key="S14" page="~/P14.aspx">
            <transition key="T1" to="S16"/>
        </state>
        <state key="S15" page="~/P15.aspx">
            <transition key="T1" to="S17"/>
        </state>
        <state key="S16" page="~/P16.aspx">
        </state>
        <state key="S17" page="~/P17.aspx">
        </state>
    </dialog>
    <dialog key="D3" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S2"/>
        </state>
        <state key="S2" page="~/P2.aspx">
            <transition key="T1" to="S2"/>
        </state>
        <state key="S3" page="~/P3.aspx">
            <transition key="T1" to="S2"/>
        </state>
    </dialog>
    <dialog key="D4" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S3"/>
        </state>
        <state key="S2" page="~/P2.aspx">
            <transition key="T1" to="S1"/>
            <transition key="T2" to="S3"/>
        </state>
        <state key="S3" page="~/P3.aspx">
        </state>
    </dialog>
    <dialog key="D5" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S3"/>
        </state>
        <state key="S2" page="~/P2.aspx">
        </state>
        <state key="S3" page="~/P3.aspx">
            <transition key="T1" to="S1"/>
            <transition key="T2" to="S1"/>
        </state>
    </dialog>
    <dialog key="D6" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S1"/>
            <transition key="T2" to="S1"/>
            <transition key="T3" to="S1"/>
            <transition key="T4" to="S1"/>
        </state>
    </dialog>
    <dialog key="D7" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S2"/>
            <transition key="T2" to="S2"/>
            <transition key="T3" to="S2"/>
            <transition key="T4" to="S2"/>
            <transition key="T5" to="S2"/>
        </state>
        <state key="S2" page="~/P2.aspx">
            <transition key="T1" to="S1"/>
            <transition key="T2" to="S1"/>
            <transition key="T3" to="S1"/>
            <transition key="T4" to="S1"/>
            <transition key="T5" to="S1"/>
        </state>
    </dialog>
    <dialog key="D8" initial="S1" path="~/P1.aspx">
        <state key="S1" page="~/P1.aspx">
            <transition key="T1" to="S2"/>
        </state>
        <state key="S2" page="~/P2.aspx">
            <transition key="T1" to="S3"/>
        </state>
        <state key="S3" page="~/P3.aspx">
            <transition key="T1" to="S4"/>
        </state>
        <state key="S4" page="~/P4.aspx" defaults="s=a,n?int=4">
            <transition key="T1" to="S5"/>
        </state>
        <state key="S5" page="~/P5.aspx">
            <transition key="T1" to="S6"/>
        </state>
        <state key="S6" page="~/P6.aspx">
            <transition key="T1" to="S6"/>
            <transition key="T2" to="S6"/>
            <transition key="T3" to="S6"/>
            <transition key="T4" to="S6"/>
            <transition key="T5" to="S6"/>
            <transition key="T6" to="S6"/>
            <transition key="T7" to="S6"/>
            <transition key="T8" to="S6"/>
            <transition key="T9" to="S6"/>
            <transition key="T10" to="S6"/>
            <transition key="T11" to="S6"/>
            <transition key="T12" to="S6"/>
            <transition key="T13" to="S6"/>
            <transition key="T14" to="S6"/>
            <transition key="T15" to="S6"/>
            <transition key="T16" to="S6"/>
            <transition key="T17" to="S6"/>
            <transition key="T18" to="S6"/>
            <transition key="T19" to="S6"/>
            <transition key="T20" to="S6"/>
        </state>
    </dialog>
</StateInfo>
