<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Navigation">
			<section name="StateInfo" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="NavigationData" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="NavigationShield" type="Navigation.ChecksumNavigationShield, Navigation"/>
			<section name="InvalidTransitionTo" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidInitial" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="DuplicateDialog" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="DuplicateState" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="DuplicateTransition" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="MissingDialogKey" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyDialogKey" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="MissingDialogInitial" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyDialogInitial" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="MissingStateKey" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyStateKey" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="MissingStatePage" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyStatePage" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="MissingTransitionKey" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyTransitionKey" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="MissingTransitionTo" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyTransitionTo" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidTrackCrumbTrail" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidCheckPhysicalUrlAccess" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidSeparatorDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidEqualDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidKeyDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidTypeDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidCastGuidDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidCastTimeSpanDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidFormatDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="OverflowDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyDefaultTypes" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidDefaultTypes" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidTypeDefaultTypes" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidGuidDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="InvalidTimeSpanDefaults" type="Navigation.StateInfoSectionHandler, Navigation"/>
			<section name="EmptyNavigationDataType" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidNavigationDataType" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidConversionFrom" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidConversionTo" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidNavigationDataConverter" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidNavigationDataConverterType" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidConversionFromConverter" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
			<section name="InvalidConversionToConverter" type="Navigation.ConverterInfoSectionHandler, Navigation"/>
		</sectionGroup>
	</configSections>
	<Navigation>
		<StateInfo>
			<!-- comment test -->
			<dialog key="d0" initial="s0" title="d0" path=" d0 ">
				<!-- comment test -->
				<state key="s0" page="~/d0/s0.aspx" title="s0">
					<!-- comment test -->
					<transition key="t0" to="s1"/>
					<!-- comment test -->
					<transition key="t1" to="s2"/>
					<transition key="t2" to="s3"/>
					<transition key="t3" to="s4"/>
				</state>
				<state key="s1" page=" ~/d0/s1.aspx  " title="s1" mobilePage="~/mobile/d0/s1.aspx" defaults="string=Hello,_bool?bool=true,_int?int=0,short?sHort=1,long?long=2,float?float=3" defaultTypes="_bool=int,short=short,long=string" derived="st1 , bool ,  long">
					<transition key="t0" to="s2"/>
					<transition key="t1" to="s3"/>
					<transition key="t2" to="s4"/>
				</state>
				<state key="s2" page="~/d0/s2.aspx" title="s2" defaults="emptyString=,double?double=4, decimal ? decimal = 5 ,DateTime?datetime=1/3/1990 12:35:47,byte?byte=6,char?char=7" defaultTypes="string=string,DateTime=datetime,char=char,byte=char" derived="string,decimal">
					<transition key="t0" to="s3"/>
					<transition key="t1" to="s4"/>
				</state>
				<state key="s3" page="~/d0/s3.aspx" title="s3" defaultTypes="s1=string,s2=int,b1=bool,i1=int,sh1=short,l1=long,f1=float,d1=double,de1=decimal,dt2=datetime,t1=timespan,by1=byte,ch1=char,g1=guid">
					<transition key="t0" to="s4"/>
				</state>
				<state key="s4" page="~/d0/s4.aspx" title="s4" defaultTypes="string=string,bool=bool,int=int,short=short,long=long,  float = float ,double=dOUble,decimal=decimal,DateTime=datetime,TimeSpan=timespan,byte=byte,char=char,Guid=guid">
				</state>
			</dialog>
			<dialog key="d1" initial="s0" title="d1" path="d1">
				<state key="s0" page="~/d1/s0.aspx" title="s0" theme="  test " masters="test1  , test2 " defaultTypes="_0_1_2_3_4_5_=int,*/()-_+~@:?&gt;&lt;.;[]{}!£$%^&amp;=short">
					<transition key="t0" to="s1"/>
				</state>
				<state key="s1" page="~/d1/s1.aspx" title="s1" masters="," mobilePage="  ~/mobile/d1/s1.aspx " defaults="s1=a,s2?string=b,s3=c,b1=true,b2?bool=false,b3?bool=true,i1=0,i2?int=1,i3?int=2,sh1=3,sh2?short=4,sh3?short=5,l1=6,l2?long=7,l3?long=8,f1=9,f2?float=10,f3?float=11,d1=12,d2?double=13,d3?double=14,de1=15,de2?decimal=16,de3?decimal=17,dt1=1/3/1990 12:35:47,dt2?datetime=2/4/1991 13:36:48,dt3?datetime=3/5/1992 14:37:49,t1?string=d,by1=18,by2?byte=19,by3?byte=20,ch1=e,ch2?char=f,ch3?char=g,g1?string=h" defaultTypes="s1=string,s2=bool,b1=bool,b2=int,i1=int,i2=short,sh1=short,sh2=long,l1=long,l2=float,f1=float,f2=double,d1=double,d2=decimal,de1=decimal,de2=datetime,dt1=datetime,dt2=timespan,t1=timespan,by1=byte,by2=char,ch1=char,ch2=guid,g1=guid">
					<transition key="t0" to="s2"/>
				</state>
				<state key="s2" page="~/d1/s2.aspx" title="s2" masters="!@">
					<transition key="t0" to="s3"/>
				</state>
				<state key="s3" page="~/d1/s3.aspx" title="s3" mobileTheme=" test  " mobileMasters=" test1 ,  test2">
					<transition key="t0" to="s4"/>
				</state>
				<state key="s4" page="~/d1/s4.aspx" title="s4" mobileMasters=",">
					<transition key="t0" to="s5"/>
				</state>
				<state key="s5" page="~/d1/s5.aspx" title="s5" mobileMasters="!@">
					<transition key="t0" to="s0"/>
					<transition key="t1" to="s1"/>
					<transition key="t2" to="s2"/>
					<transition key="t3" to="s3"/>
					<transition key="t4" to="s4"/>
				</state>
			</dialog>
			<dialog key="d2" initial="s0" title="d2" path="d2">
				<state key="s0" page="~/d2/s0.aspx" title="s0" route="d2/s0" mobileRoute="" trackCrumbTrail="false">
					<transition key="t0" to="s1"/>
				</state>
				<state key="s1" page="~/d2/s1.aspx" title="s1" mobilePage="~/mobile/d2/s1.aspx" route="s1" mobileRoute="d2/s1" trackCrumbTrail="true" checkPhysicalUrlAccess="true">
					<transition key="t0" to="s2"/>
				</state>
				<state key="s2" page="~/d2/s2.aspx" title="s2" trackCrumbTrail="false" mobileRoute="s2" checkPhysicalUrlAccess="true">
					<transition key="t0" to="s3"/>
				</state>
				<state key="s3" page="~/d2/s3.aspx" title="s3" route="d2/{s3}" trackCrumbTrail="true" checkPhysicalUrlAccess="false">
					<transition key="t0" to="s4"/>
				</state>
				<state key="s4" page="~/d2/s4.aspx" title="s4" trackCrumbTrail="false" checkPhysicalUrlAccess="false">
					<transition key="t0" to="s5"/>
				</state>
				<state key="s5" page="~/d2/s5.aspx" title="s5" route="" mobileRoute="d2/{s5}" checkPhysicalUrlAccess="false">
					<transition key="t0" to="s6"/>
				</state>
				<state key="s6" page="~/d2/s6.aspx" title="s6">
					<transition key="t0" to="s0"/>
				</state>
			</dialog>
		</StateInfo>
		<InvalidTransitionTo>
			<dialog key="d0" initial="s0" title="d0" path="~/Default.aspx" resourceType="test" resourceKey="test">
				<state key="s0" page="~/d0/s0.aspx" title="s0" masters="m1.master,m2.master" theme="test" resourceType="test" resourceKey="test">
					<transition key="t0" to="s1"/>
				</state>
			</dialog>
		</InvalidTransitionTo>
		<InvalidInitial>
			<dialog key="d0" initial="s1" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</InvalidInitial>
		<DuplicateDialog>
			<dialog key="d0" initial="s0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
			<dialog key="d0" initial="s0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</DuplicateDialog>
		<DuplicateState>
			<dialog key="d0" initial="s0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</DuplicateState>
		<DuplicateTransition>
			<dialog key="d0" initial="s0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
					<transition key="t0" to="s1"/>
					<transition key="t0" to="s2"/>
				</state>
				<state key="s1" page="~/d0/s1.aspx" title="s1">
				</state>
				<state key="s2" page="~/d0/s2.aspx" title="s2">
				</state>
			</dialog>
		</DuplicateTransition>
		<MissingDialogKey>
			<dialog initial="s0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</MissingDialogKey>
		<EmptyDialogKey>
			<dialog key="" initial="s0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</EmptyDialogKey>
		<MissingDialogInitial>
			<dialog key="d0" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</MissingDialogInitial>
		<EmptyDialogInitial>
			<dialog key="d0" initial="" title="d0">
				<state key="s0" page="~/d0/s0.aspx" title="s0">
				</state>
			</dialog>
		</EmptyDialogInitial>
		<MissingStateKey>
			<dialog key="d0" initial="s0">
				<state page="~/d0/s0.aspx">
				</state>
			</dialog>
		</MissingStateKey>
		<EmptyStateKey>
			<dialog key="d0" initial="s0">
				<state key="" page="~/d0/s0.aspx">
				</state>
			</dialog>
		</EmptyStateKey>
		<MissingStatePage>
			<dialog key="d0" initial="s0">
				<state key="s0">
				</state>
			</dialog>
		</MissingStatePage>
		<EmptyStatePage>
			<dialog key="d0" initial="s0">
				<state key="s0" page="">
				</state>
			</dialog>
		</EmptyStatePage>
		<MissingTransitionKey>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s0.aspx">
					<transition to="s1"/>
				</state>
				<state key="s1" page="~/d0/s1.aspx">
				</state>
			</dialog>
		</MissingTransitionKey>
		<EmptyTransitionKey>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s0.aspx">
					<transition key="" to="s1"/>
				</state>
				<state key="s1" page="~/d0/s1.aspx">
				</state>
			</dialog>
		</EmptyTransitionKey>
		<MissingTransitionTo>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s0.aspx">
					<transition key="t0"/>
				</state>
				<state key="s1" page="~/d0/s1.aspx">
				</state>
			</dialog>
		</MissingTransitionTo>
		<EmptyTransitionTo>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s0.aspx">
					<transition key="t0" to=""/>
				</state>
				<state key="s1" page="~/d0/s1.aspx">
				</state>
			</dialog>
		</EmptyTransitionTo>
		<InvalidTrackCrumbTrail>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" trackCrumbTrail="xxx">
				</state>
			</dialog>
		</InvalidTrackCrumbTrail>
		<InvalidCheckPhysicalUrlAccess>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" checkPhysicalUrlAccess="">
				</state>
			</dialog>
		</InvalidCheckPhysicalUrlAccess>
		<EmptyDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="">
				</state>
			</dialog>
		</EmptyDefaults>
		<InvalidDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="xxx">
				</state>
			</dialog>
		</InvalidDefaults>
		<InvalidSeparatorDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="xx??int=z">
				</state>
			</dialog>
		</InvalidSeparatorDefaults>
		<InvalidEqualDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="x=z=">
				</state>
			</dialog>
		</InvalidEqualDefaults>
		<InvalidKeyDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="=x">
				</state>
			</dialog>
		</InvalidKeyDefaults>
		<InvalidTypeDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="x?x=x">
				</state>
			</dialog>
		</InvalidTypeDefaults>
		<InvalidCastGuidDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="x?guid=y">
				</state>
			</dialog>
		</InvalidCastGuidDefaults>
		<InvalidCastTimeSpanDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="x?timespan=y">
				</state>
			</dialog>
		</InvalidCastTimeSpanDefaults>
		<InvalidFormatDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="number?int=x">
				</state>
			</dialog>
		</InvalidFormatDefaults>
		<OverflowDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="number?int=9999999999">
				</state>
			</dialog>
		</OverflowDefaults>
		<EmptyDefaultTypes>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaultTypes="">
				</state>
			</dialog>
		</EmptyDefaultTypes>
		<InvalidDefaultTypes>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaultTypes="xxx">
				</state>
			</dialog>
		</InvalidDefaultTypes>
		<InvalidTypeDefaultTypes>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaultTypes="x=y">
				</state>
			</dialog>
		</InvalidTypeDefaultTypes>
		<InvalidGuidDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="x=01234567890123456789012345678901" defaultTypes="x=guid">
				</state>
			</dialog>
		</InvalidGuidDefaults>
		<InvalidTimeSpanDefaults>
			<dialog key="d0" initial="s0">
				<state key="s0" page="~/d0/s1.aspx" defaults="x=10:05:23" defaultTypes="x=timespan">
				</state>
			</dialog>
		</InvalidTimeSpanDefaults>
		<NavigationData>
			<!-- comment test -->
			<add type="Navigation.Test.CustomData, Navigation.Test"/>
			<add type="Navigation.Test.Custom2Data, Navigation.Test" converter="Navigation.Test.Custom2DataTypeConverter, Navigation.Test"/>
			<add type="System.DayOfWeek, mscorlib"/>
		</NavigationData>
		<EmptyNavigationDataType>
			<add/>
		</EmptyNavigationDataType>
		<InvalidNavigationDataType>
			<add type="test"/>
		</InvalidNavigationDataType>
		<InvalidConversionFrom>
			<add type="Navigation.Test.Custom3Data, Navigation.Test"/>
		</InvalidConversionFrom>
		<InvalidConversionTo>
			<add type="Navigation.Test.Custom4Data, Navigation.Test"/>
		</InvalidConversionTo>
		<InvalidNavigationDataConverter>
			<add type="Navigation.Test.Custom4Data, Navigation.Test" converter="test"/>
		</InvalidNavigationDataConverter>
		<InvalidNavigationDataConverterType>
			<add type="Navigation.Test.Custom4Data, Navigation.Test" converter="Navigation.Test.Custom4Data, Navigation.Test"/>
		</InvalidNavigationDataConverterType>
		<InvalidConversionFromConverter>
			<add type="Navigation.Test.Custom2Data, Navigation.Test" converter="Navigation.Test.Custom3DataTypeConverter, Navigation.Test"/>
		</InvalidConversionFromConverter>
		<InvalidConversionToConverter>
			<add type="Navigation.Test.Custom2Data, Navigation.Test" converter="Navigation.Test.Custom4DataTypeConverter, Navigation.Test"/>
		</InvalidConversionToConverter>
		<NavigationShield key="checksumkey"/>
	</Navigation>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
