<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("062d0303-edd7-48e5-bf42-3b5a47daa845");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
