<StateInfo>
	<dialog key="d0" initial="s0">
		<state key="s0" controller="c0" action="a0" trackCrumbTrail="false">
			<transition key="t0" to="s1"/>
		</state>
		<state key="s1" controller="c1" action="a1" route="r1" trackCrumbTrail="false">
			<transition key="t0" to="s2"/>
		</state>
		<state key="s2" controller="c2" action="a2" route="r2">
			<transition key="t0" to="s3"/>
		</state>
		<state key="s3" page="~/d0/s3.aspx" route="r3">
		</state>
	</dialog>
</StateInfo>