@model TodoModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Navigation • TodoMVC</title>
    <style>
        button:after {
            content: '✔';
            color: #d9d9d9;
        }
        button.completed:after {
            color: #85ada7;
        }
        button.destroy:after {
            content: '✖';
            color: #a88a8a;
        }
    </style>
</head>
<body>
    <section>
        <header>
            <h1>todos</h1>
            @using (Html.BeginRefreshForm(null, true)) {
                @Html.TextBoxFor(m => m.NewTitle, new { placeholder = "What needs to be done?", autofocus = "autofocus" })
                <input type="hidden" name="action" value="add" />
            }
        </header>
        <section>
            <ul id="todo-list">
                @foreach (var todo in Model.Todos) {
                    <li>@Html.Partial("_Item", todo)</li>
                }
            </ul>
        </section>
    </section>
</body>
</html>
