@model Todo
<div class="view">
@if (StateContext.Bag.id != Model.Id) {
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        <button name="action" value="@Model.Toggle" class="toggle">@Model.ToggleText</button>
    }
    @Html.RefreshLink(Model.Title, new NavigationData { { "id", Model.Id } }, true)
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        <button name="action" value="delete" class="destroy">Delete</button>
    }
}
else {
    using (Html.BeginRefreshForm(null, true)) {
        @Html.TextBoxFor(m => m.Title, new { @class = "edit" })
        <input type="hidden" name="action" value="edit" />
    }
}
</div>