@model Todo
@if (StateContext.Bag.id != Model.Id) {
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        if (Model.Completed) {
            <button name="action" value="activate">Activate</button>
        }
        else {
            <button name="action" value="complete">Complete</button>
        }
    }
    @Html.RefreshLink(Model.Title, new NavigationData { { "id", Model.Id } }, true)
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        <button name="action" value="delete">Delete</button>
    }
}
else {
    using (Html.BeginRefreshForm(null, true)) {
        @Html.TextBoxFor(m => m.Title)
        <input type="hidden" name="action" value="edit" />
    }
}
