@model Todo
@if (StateContext.Bag.id != Model.Id) {
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        if (Model.Completed) {
            <button name="action" value="activate" title="activate" class="completed"></button>
        }
        else {
            <button name="action" value="complete" title="complete"></button>
        }
    }
    @Html.RefreshLink(Model.Title, new NavigationData { { "id", Model.Id } }, true)
}
else {
    using (Html.BeginRefreshForm(null, true)) {
        @Html.TextBoxFor(m => m.Title)
        <input type="hidden" name="action" value="edit" />
    }
}
