@model Todo
@if (StateContext.Bag.id != Model.Id) {
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        <button name="action" value="@Model.Toggle">@Model.ToggleText</button>
    }
    @Html.RefreshLink(Model.Title, new NavigationData { { "id", Model.Id } }, true)
    using (Html.BeginRefreshForm(new NavigationData { { "id", Model.Id } }, true)) {
        <button name="action" value="delete">Delete</button>
    }
}
else {
    using (Html.BeginRefreshForm(null, true)) {
        @Html.TextBoxFor(m => m.Title)
        <input type="hidden" name="action" value="edit" />
    }
}
