<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navigation.reactnative">

    <application>
        <activity
            android:name=".SceneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".AlternateSceneActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>