body{
    margin:0;
    background-color:#f8f8f8;
    font-family:Calibri,Helvetica,Arial,sans-serif;
}
#header{
    border-bottom:4px solid #de1b1b;
    margin-bottom:7px;
    max-width:100%;
    min-width:600px;    
}
#banner{
    background-color:#2b2b2b;
    color:#fff;
    padding:10px 40px;
    margin-bottom:3px;
}
#banner a#home{
    font-size:156%;
    margin-right:60px;
    text-decoration:none;
}
#banner a{
    color:#fff;
    font-size:113%;
    margin-right:20px;
}
#banner a.active{
    color:#e9e581;
}
#content{
    max-width:1000px;
    min-width:600px;
    margin:auto;
}
a{
    color:#000;
}
h1,h2{
    margin:0;
    font-weight:normal;
}
h2{
    margin-top:10px;
}
h3{
	margin:12px 0;
	font-weight:normal;
}
p{
    margin:7px 0;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
	border-radius:10px;
}
ul li{
	padding:5px 0 5px 10px;
}
ul li{
	background-color:#e9e581;
}
ul li:first-child{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
ul li:last-child{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
ul li.active{
	font-style:italic;
	font-weight:bold;
}
ul li a,ul li a:visited,#navigation a, #navigation a:visited{
	color:#000;
}
#download{
	width:26%;
	float:left;
	padding:0 1%;
}
#guide{
	width:70%;
	margin-left:28%;
	padding:0 1%;
}
a.download{
    margin:5px 0 0 0;
    font-size:113%;
    display:inline-block;
    color:#de1b1b;
}
pre{
    margin:10px 0;
}
pre code{
    padding:10px;
    background-color:#fff;
    border:2px solid #de1b1b;
    display:block;
}
em{
    font-size:105%;
    display:block;
    margin-bottom:10px;
}
