body{
    margin:0;
    background-color:#f8f8f8;
    font-family:Calibri,Helvetica,Arial,sans-serif;
}
#header{
    border-bottom:4px solid #de1b1b;
    margin-bottom:7px;
}
#banner{
    background-color:#2b2b2b;
    color:#fff;
    padding:10px 40px;
    margin-bottom:3px;
}
#banner a#home{
    font-size:25px;
    margin-right:60px;
    text-decoration:none;
}
#banner a{
    color:#fff;
    font-size:18px;
    margin-right:20px;
}
#banner a.active{
    color:#e9e581;
}
#content{
    width:700px;
    margin:10px auto;
}
a{
    color:#000;
}
h1,h2{
    margin:0;
    font-weight:normal;
}
h2{
    margin-top:10px;
}
p{
    margin:7px 0;
}
a.download{
    margin:5px 0 0 0;
    font-size:18px;
    display:inline-block;
    color:#de1b1b;
}
pre{
    margin:10px 0;
}
pre code{
    padding:10px;
    background-color:#fff;
    border:1px solid #000;
    display:block;
}
em{
    font-size:14px;
    display:block;
    margin-bottom:10px;
}
